.gallery
{
	overflow: scroll ;

	ul {
		padding: 5% 10% ;
	}

	li {
		margin: 10px ;
		display: inline-block ;
		vertical-align: middle ;

		max-width: 150px ;
		max-height: 300px ;
	}

	.add {
		width: 1.5em ;
		height: 1.4em ;
	}

}

/*-----------------------------------*/

.page-number
{
	background-color: $input ;
	color: white ;

	position: relative;
	bottom: 30px;
	left: 5px ;

	z-index: 5 ;

	font-size: $small ;
	
	text-align: center ;
	vertical-align: middle ;

	width:  23px ;
	height: 23px ;

	overflow: hidden ;
}

.add{
		font-size: $large ;
		font-weight: bold ;

		padding: 5% ;
		border: 2px dashed $add ;
		@include border-radius(10px);

		text-align: center ;

		&.dragging{
			border: solid ;
		}

		span {
			font-size: $x-small;
		}
	}

/*-----------------------------------*/

#toolbar {

	position: fixed ;
	bottom: 0px ;
	right: 0px ;

	> div{
		padding: 20px ;
	}

}

#show {

	.book
	{
		position: absolute;
		top: 10px ;

		width: auto;
		margin: auto ;

		.page {
			display: none ;
		}

		.current {
			display: block ;
		}

		&.duo {
			.current, .current + .page
			{
				vertical-align: bottom;
				display: inline-block ;
				max-width: 50%;
			}

			.current:last-child
			{
				max-width: 100% ;
			}

			.current + .page .page-number
			{
				float: right ;
				position: relative ;
				left: -10px ;
			}
		}
	}

}

/*-----------------------------------*/

.full {
	.adder {

		display: block ;

		width: 80% ;
		margin: 5% auto  ;
	}
}

/*-----------------------------------*/

.right {
	float: right ;
}

.left {
	float: left ;
}

.center {
	text-align: center;
	margin: auto;
}

.button
{
	-webkit-appearance: none;
	border: none ;

	background-color: $input ;
	color: white ;

	font-size: $normal ;

	padding: 0.4em 0.7em ;

	&:hover {
		background-color: darken($input, 7%);
	}

	&.delete {

		$move: -1.9em ;

		background-color: transparentize($dark-grey, 0.3) ;
		color: $light-grey ;

		font-size: $small ;

		position: relative;
		top: $move ;

		margin: auto ;
		margin-bottom: $move ;

		width: 100% ;
		display: block ;

		&:hover {
			background-color: transparentize($red, 0.25);
		}	
	}

	&.disabled {
		background-color: transparentize($dark-grey, 0.3);

		&:hover {
			background-color: transparentize($dark-grey, 0.25);
		}
	}
}

/*-----------------------------------*/

#help-button, .help {
	background-color: $orange ;
}

#help-button {

	@include border-radius(3000px) ;
	display: block ;

	text-align: center ;

	max-width: 20px;
	height: 20px;
}

.help {

	z-index: 10 ;

	position: absolute ;
	margin: 20px 0 ;

	max-width: 7% ;

	color: white ;
	padding: 10px ;

	@include border-radius(10px) ;
}

/*-----------------------------------*/

.view
{
	.gallery, #main-add, {
		display: none ;
	}

	.viewer{	
		width: auto ;
	}

}

.edit
{
	.option {
		display: none ;
	}
}

