
$dark-grey:  #5d5e64 ;
$light-grey: #fafafa ;

$orange: #e67e22;
$red:    #cd380e;

/*------------------------*/

$body:      $light-grey ;
$body-text: $dark-grey  ;

$add:       $dark-grey  ;
$input:     $orange ;