* {
	user-select: none ;
	-moz-user-select: none ;
	-webkit-user-select: none ;
}

li {
	list-style-type: none;
}

.container-fluid {
	padding: 0 ;
}

.edit-layout .preview {
	padding-right: 200px ;
}

img.illustration {
	display: block;

	max-height: 100%;
	max-width: 100%;
	width: auto;
}

.no-padding {
	padding: 0;
}

.pull-center {
	margin: auto ;
}

.gallery {
	max-width: 200px ;

	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;

	margin: 0;
	padding: 10px;

	overflow-y: scroll;
	overflow-x: hidden;

	border-left: 1px solid #ddd;
}

.gallery img {
	border-radius: 4px ;
}

.adder {

	margin-top: 15px ;
	margin-bottom: -5px ;

	text-align: center ;
	font-size: 200% ;

	display: block ;

}

.gallery + div {
	padding-left: 200px ;
}

.navigation-chevron {

	position: absolute;
	bottom: 40%;

	z-index: 2 ;
}

.navigation-chevron span {
	font-size: 1em ;
}

.navigation-chevron.left {
	left: 20px ;
}

.navigation-chevron.right {
	right: 20px ;
}

.footer {

	position: absolute;
	bottom: 10px ;
	left: 20px ;
}

.delete-image {
	
	-webkit-appearance: none ;
	border: none ;

	background-color: rgba(100, 100, 100, 0.5) ;
	color: white ;

	text-align: center;
	font-size: 1.2em ;

	position: relative;
	top: -1.8em ;

	margin: 0 ;
	/*margin-bottom: -3em ;*/

	width: 100% ;
	display: inline-block ;
}

.delete-image:hover {
	color: red ;
}
