<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:ub="http://uniboard.mnemis.com/widgets"
        id="http://www.example.net/widgets/helloworld" 
        version="1.0"
        width="1024"
        height="768" 
		ub:resizable="true">
		
		<name>Flipbook</name>
		<author href="http://www.example.net"
	            email="info@example.com">Adrien Bocquet</author>
		<description>A simple flipbook for Sankore</description>
		<preference name="skin"
		            value="uniboard"/>
		<content src="index.html"/> 

</widget>
